.button {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  background-color: #D4D4D2;
  border: 1px solid #ccc;
  border-radius: 0px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.operator {
  background-color: #FF9500 ; /* Default background color for operator buttons */
}

